<!-- Header -->
<header>
  <div class="container">
    Top 20 posts from /r/gif
  </div>
</header>

<div class="container">
  <!-- Top Posts -->
  <div class="posts">

    <!-- Post -->
    <div class="post">
      <!-- Featured Image -->
      <img src="http://placehold.it/500x300" class="featured-img">
      <div class="post-content">
        <a href="#" class="post-title"><h1>POST TITLE</h1></a>
        <span class="meta">
          <strong>Posted by:</strong> AUTHOR NAME at TIMESTAMP
        </span>
      </div>
    </div>

    <!-- Post -->
    <div class="post">
        <!-- Featured Image -->
        <img src="http://placehold.it/500x300" class="featured-img">
        <div class="post-content">
          <a href="#" class="post-title"><h1>POST TITLE</h1></a>
          <span class="meta">
            <strong>Posted by:</strong> AUTHOR NAME at TIMESTAMP
          </span>
        </div>
      </div>

    <!-- Post -->
    <div class="post">
      <!-- Featured Image -->
      <img src="http://placehold.it/500x300" class="featured-img">
      <div class="post-content">
        <a href="#" class="post-title"><h1>POST TITLE</h1></a>
        <span class="meta">
          <strong>Posted by:</strong> AUTHOR NAME at TIMESTAMP
        </span>
      </div>
    </div>
  </div>
</div>